asgiref            
autopep8           
backports.zoneinfo 
dj-database-url    
Django             
django-extensions  
gunicorn           
pip                
pycodestyle        
python-decouple    
pytz               
setuptools         
sqlparse           
toml               
Unipath            
whitenoise         
django-ckeditor
django-js-asset
djangorestframework
Pillow








































