{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">

    <div class="container d-flex align-items-center flex-column">

        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-hashtag"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="font-weight-light display-6"><small>
        Experienced, systems administrator skilled in hosting, systems architecture and design, 
        support and troubleshooting. Focused on continuous career-, personal-, and team- improvement. 
        Exceptional at building relationships with colleagues, customers, and suppliers.
        </small></p>        
        <p class="font-weight-light display-6"><small>
        I am passionate about learning, troubleshooting, and continuously improving my personal 
        and technical skills.
        I'm currently improving my automation skills by building hobby projects using 
        Ansible, Azure, and python. A few Ansible projects have made it into a 
        production deployment environment. I've recently resigned my position as a 
        senior technical services consultant, (working as part of a cloud infrastructure team) 
        to progress my career and follow my passion.
        </small></p>
        <br>
    </div>

<br>

</section>

{% endblock content %}
